       <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Hello, my name is Kalyn and I am going to be a junior at Woods Cross High School. I'm new to coding, but I made this entire website.</p>
          </div>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">
              <li><a href="https://github.com/singularloop" ><%= fa_icon "github" %></i></a></li>
              <li><a href="#"><%= fa_icon "twitter" %></i></a></li>
              <li><a href="#"><%= fa_icon "facebook-official" %></i></a></li>
              <li><a href="#"><%= fa_icon "instagram" %></i></a></li>
            </ol>
          </div>
        </div>