<footer class="text-muted">
  <div class="container">
    <div class="float right">
      <p><a href="#">Back to top</a></p>
      <p>
      <%= copyright_generator %>
      </p>
    </div>
  </div>
</footer>