          <div class="inner cover">
            <h1 class="cover-heading">Hi, <%= current_user.first_name %></h1>
            <p class="lead"> This blog still isn't finished yet, but this page looks much nicer now! Try logging in and remember to check out my blogs page and portfolio!</p>
            <p class="lead">
            <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>



